name: .NET

on:
  push:
    branches: [ master ]

jobs:
  ubuntu:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x

    - name: Install .net dependencies
      run: dotnet restore

    - name: Install libpcap
      run: sudo -E bash Scripts/install-libpcap.sh

    - name: Build
      run: dotnet build PacketDotNet/PacketDotNet.csproj --framework "netstandard2.0" -c Release

    - name: Test
      run: dotnet test --framework "net6.0"

  windows:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x

    - uses: dorny/paths-filter@v2
      id: changes
      with:
        filters: |
          buildprops:
            - 'Directory.Build.props'
	
    - name: Update version
      if: steps.changes.outputs.buildprops == 'false'
      run: |
          (Get-Content Directory.Build.props) | % { 
              $m = [regex]::match($_, '<Version>(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?</Version>');
              if(!$m.Success -or $m.Groups[4].Success -or $m.Groups[5].Success) { $_; }
              else { $_ -replace $m.Value, ("<Version>{0}.{1}.{2}-pre${{ github.run_number }}</Version>" -f $m.Groups[1].Value,$m.Groups[2].Value,([convert]::ToInt32($m.Groups[3].Value)+1)); }
          } | Set-Content Directory.Build.props

    - name: Clear NuGet cache
      run: dotnet nuget locals all --clear

    - name: Install .NET dependencies
      run: dotnet restore

    - name: Install winpcap
      uses: crazy-max/ghaction-chocolatey@v1
      with:
        args: install winpcap

    - name: Build
      run: dotnet build -c Release

    - name: Test
      run: dotnet test

    - name: Publish to NuGet
      run: nuget push **\*.nupkg -Source 'https://api.nuget.org/v3/index.json' -ApiKey ${{secrets.NUGET_API_KEY}}
